{% extends 'base.html' %}
{% load static %}
<script src="{% static 'toc/table-of-contents.js' %}"></script>

{% block content %}

<style>
.sidetoc {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 20%;
}

@media (max-width: 720px) {
  .sidetoc { 
    height: 100%;
    width: 100%;
    position: sticky; 
  } 
}

</style>


<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3 left top">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | updated on {{ post.updated_on }} | 浏览: {{post.views}} </p>
        <div data-content>
          <div style="background-color: #f0f0f0;" >{{ object.content | safe }}</div>
        </div>
    </div>

    <!-- sidebar 放置文章的TOC-->
    <div class="col-md-4 card mb-4 mt-3 right top">
      <div class="sidetoc">    
        <div data-toc></div>
      </div>
    </div>
</div>

<!-- 自动生成TOC的js插件 -->
<script src="{% static 'toc/table-of-contents.js' %}"></script>
<script>
  tableOfContents('[data-content]', '[data-toc]', {
    heading: '文章目录', // Change the headings
    listType: 'ol', // Change the list type
    levels: 'h2, h3' // Change the levels used
  });
</script>


{% endblock content %}
