{% extends "base.html" %}
<!-- {% load static %} -->

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Gao-{{ article.title }}
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}


<!-- max-width 720 -->
<style>
    .sidetoc {
        height: 100%;
        position: fixed;
        top: 15%;
    }
    
    @media (max-width: 1125px) {
      .sidetoc { 
        height: 100%;
        width: 100%;
        position: sticky; 
      } 
    }
    
</style>

<!-- 文章内容和TOC -->
<div class="container">

    <div class="row">

        <!-- 放置文章的内容和评论-->
        <div class="col-md-9 card mb-4 mt-3">
            <!-- 标题, 作者, 更新日期, 删除, 修改, 浏览 -->
            <h1 class="mt-4 mb-4">{{ article.title }}</h1>
            <div class="alert alert-success">
                作者：{{ article.author }} {{article.updated_on}} 
                <!-- 
                    | <a href="{% url "article:article_delete" article.id %}">删除</a>
                -->
                {% if user == article.author %}
                | <a href="#" onclick="confirm_delete()">删除</a>
                | <a href="{% url 'article:article_update' article.id %}">修改</a>
                {% endif %}
                | 浏览: {{article.views}}
            </div>

            <!-- 删除文章的js脚本 -->
            <script>
                // 删除文章的函数
                function confirm_delete() {
                    // 调用layer弹窗组件
                    layer.open({
                        // 弹窗标题
                        title: "确认删除",
                        // 正文
                        content: "确认删除这篇文章吗？",
                        // 点击确定按钮后调用的回调函数
                        yes: function(index, layero) {
                            // 指定应当前往的 url
                            location.href='{% url "article:article_delete" article.id %}'
                        },
                    })
                }
            </script>

            <!-- 文章正文 -->
            <div>
                <p>{{ article.body|safe }}</p>
            </div>

            <!-- 发表评论 -->
            <br>
            <br>
            <div>
                <form 
                    action="{% url 'comment:post_comment' article.id %}" 
                    method="POST">
                    {% csrf_token %}
    
                    <div class="form-group">
                        <label for="body">
                            <strong>
                                我要评论：
                            </strong>
                        </label>
                        <textarea 
                            type="text" 
                            class="form-control" 
                            id="body"
                            name="body"
                            rows="2">
                        </textarea>
                    </div>
    
                    <!-- 提交按钮 -->
                    <button type="submit" class="btn btn-primary ">发送</button>                    
                </form>
            </div>
    
            <!-- 显示评论 -->
            <br>
            <br>
            <h6>共有{{ comments.count }}条评论</h6>
            <div>
                {% for comment in comments %}
                    <hr>
                    <p>
                        <strong style="color: pink">
                            {{ comment.user }}
                        </strong> 于 
                        <span style="color: green">
                            {{ comment.created|date:"Y-m-d H:i:s" }}
                        </span> 时说：
                    </p>
                    <pre style="font-family: inherit; font-size: 1em; white-space: pre-wrap; text-align: left;">
                        {{ comment.body }}
                    </pre>
                {% endfor %}
            </div>
    
        </div>

        <!-- sidebar 放置文章的TOC-->
        <div class="col-md-3 mb-4 mt-3">
            <div class="sidetoc"> 
                <a class="nav-link" href="{% url 'article:article_list' %}">回首页</a>
                <div id="ToC"></div>
            </div>
        </div>

    </div>

</div>

<!-- 实现导航栏和页面同步
<script src="{% static 'toc/toc_sync.js' %}"></script>
-->

{% endblock content %}