<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
  Max的G.A.O工作室
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<style>
    .sidetoc {
        height: 80%;
        position: fixed;
        top: 21%;
    }
    @media (max-width: 720px) {
        .sidetoc { 
          height: 100%;
          width: 100%;
          position: sticky; 
        } 
      }
</style>

<!-- 定义放置文章标题的div容器 -->
<div class="container">

    <div class="row mt-2">

        <!--文章列表-->
        <div class="col-md-9 mb-4">
          {% for article in articles %}

            <!-- article.section 栏目 -->
            {% if article.section %}
                <a href="{% url 'article:article_list' %}?sect={{ article.section }}" class="badge badge-secondary">
                    {{ article.section }}
                </a>
            {% endif %}

            <!-- tags -->
            <span>
                {% for tag in article.tags.all %}
                    <a href="{% url 'article:article_list' %}?tag={{ tag }}" class="badge" >
                        {{ tag }}
                    </a>
                {% endfor %}
            </span>
            
            <!-- 标题 -->
            <h5>
                <b>
                    <a href="{% url 'article:article_detail' article.id %}"
                       style="color: black;" 
                    >
                        {{ article.title }}
                    </a>
                </b>
            </h5>

            <!-- 摘要 -->
            <div>
                <p style="color: gray;">
                    {{ article.body|slice:'100'|striptags }}...
                </p>
            </div>

            <!-- 浏览量, 更新时间等 -->
            <p class="small-text">
                <span style="color: green;">
                    浏览 {{ article.views }} ;
                </span>
                <span style="color: blue;">
                    发布于 {{ article.created_on|date:'Y-m-d' }};
                </span>
                <span style="color: darkred;">
                    更新于: {{ article.updated_on|date:'Y-m-d' }}
                </span>
            </p>
            
          {% endfor %}
        </div>

        <!-- 这里放section和tags-->
        <div class="col-md-3 mb-4">
            <div class="sidetoc"> 
                sections:<br>
                {% for sect in sects %}
                    <a href="{% url 'article:article_list' %}?sect={{ sect }}" class="badge badge-secondary">
                        {{ sect }}
                    </a>
                {% endfor %}

                <br>

                tags: <br>
                {% for tag in tags %}
                    <a href="{% url 'article:article_list' %}?tag={{ tag }}" class="badge" >
                        {{ tag }} 
                    </a>
                {% endfor %}

            </div>
        </div>

    </div>

    <!-- 页码导航 -->
    <div class="pagination row">
        <div class="m-auto">
            <span class="step-links">
                <!-- 如果不是第一页，则显示上翻按钮 -->
                {% if articles.has_previous %}
                    <a href="?page=1" class="btn btn-success">
                        &laquo; 1
                    </a>
                    <span>...</span>
                    <a href="?page={{ articles.previous_page_number }}" 
                    class="btn btn-secondary"
                    >
                        {{ articles.previous_page_number }}
                    </a>
                {% endif %}

                <!-- 当前页面 -->
                <span class="current btn btn-danger btn-lg">
                    {{ articles.number }}
                </span>

                <!-- 如果不是最末页，则显示下翻按钮 -->
                {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}"
                    class="btn btn-secondary"
                    >
                        {{ articles.next_page_number }}
                    </a>
                    <span>...</span>
                    <a href="?page={{ articles.paginator.num_pages }}"
                    class="btn btn-success"
                    >
                        {{ articles.paginator.num_pages }} &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    </div>


</div>

{% endblock content %}